<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ci24.usbprinter"
        version="1.0.0">
    <name>UsbPrinter</name>
 <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
         <asset src="www/usbprinter.js" target="js/usbprinter.js"/>
        <js-module src="www/usbprinter.js" name="usbprinter">
<clobbers target="ci24UsbPrinter" />
 </js-module> 
    <platform name="android">
             <config-file target="AndroidManifest.xml" parent="/*">
             <uses-permission android:name="android.hardware.usb.host" />
                     </config-file>
            
       
    
        
    
 <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Printer">
        <param name="android-package" value="com.ci24.usbprinter.Printer"/>
      </feature>
    </config-file>
   

    <source-file src="src/android/Printer.java" target-dir="src/com/ci24/usbprinter/"/>
    
    
  </platform>
    
</plugin>
